.container {
  background-color: antiquewhite;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexItem {
  border: 2px solid black;
  width: 50%;
  min-width: 700px;
}

